@keyframes light {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1;}
    61% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes squiggles {
    0% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 0; }
    60% { opacity: 0;}
    65% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes spots {
    0% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 0; }
    60% { opacity: 0;}
    65% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes liquid {
    0% { fill: $white; }
    45% { fill: $white; }
    50% { fill: $marigold; }
    60% { fill: $marigold;}
    65% { fill: $white; }
    100% { fill: $white; }
}

.svg {
    width: 100%;
    svg {
        width: 90%;
        height: 90%;
        max-height: 150px;
        @include bp($mama-bear) {
            max-height: 300px;
        }
    }
}

.svg #spots path:first-child{
    animation: spots ease-in;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.svg #spots path:nth-child(2){
    animation: spots ease-in;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.svg #spots path:last-child{
    animation: spots ease-in;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.svg #light{
    animation: light ease-in;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    path {
        fill: $marigold;
    }
}

.svg #main-beaker path:nth-child(3){
    animation: liquid ease-in;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.svg #squiggle{
    animation: squiggles ease-in;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

