@keyframes palmTree {
    0% { transform: rotate(0deg); }
    40% { transform: rotate(0deg); }
    50% { transform: rotate(-10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
    }

@keyframes light {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1;}
    61% { opacity: 0; }
    100% { opacity: 0; }
}



@keyframes squiggles {
    0% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 0; }
    60% { opacity: 0;}
    65% { opacity: 1; }
    100% { opacity: 1; }
}

.svg {
    width: 100%;
    svg {
        width: 90%;
        height: 90%;
        max-height: 150px;
        @include bp($mama-bear) {
            max-height: 300px;
        }
    }
}

.svg #palm_tree_1_{
    transform-origin: bottom;
    animation: palmTree ease-in;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.svg #light{
    animation: light ease-in;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    path {
        fill: $marigold;
    }
}

.svg #squiggle{
    animation: squiggles ease-in;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}


.social-icon {
    path {
        fill: green;
    }
}
