/******------Helpers-------*******/

.cursive {
    font-family: $cursive;
}

.body-font {
    font-family: $body-font;
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.text-larger {
    font-size: 130%;
}

.text-smaller {
    font-size: 80%;
}

.no-margin {
    margin: 0;
}