
.header h2 {
    margin: 0;
}

.section {
    .section-heading {
        
        text-transform: uppercase;
    }
    p, li, span {
        font-size: 1.3rem;
        @include bp($kid-bear) {
            font-size: 1.5rem;
            
        }
    }
}


.box {
    padding: 2rem;
    position: relative;
    @include bp($mama-bear) {
        padding: 4rem 2rem;
    }
    .box-heading {
        text-transform: uppercase;
    }
}

.main {
    margin: .5rem;
    @include bp($baby-bear) {
        margin: 1rem 3rem;
    }
}

.social-icon {
    display: inline-block;
    margin: .5rem;
    position: relative;
    z-index: 1;
    object {
        height: 40px;
        pointer-events: none;
        position: relative;
        width: 40px;
        z-index: -1;
    }
}






