.bg-gray {
    background-color: $black;
    color: $white;
}

.bg-red {
    background-color: $red;
    color: $white;
}
.bg-dark-green {
    background-color: $dark-green;
    color: $white;
}
.bg-blue {
    background-color: $blue;
    color: $white;
}



[class*="bg-"] {
    box-shadow: inset 0 0 12px 0 rgba($black, .2);
}

.header h2 {
    margin: 0;
}

.section {
    .section-heading {
        font-size: 2rem;
        text-transform: uppercase;
    }
    p, li, span {
        font-size: 1.5rem;
    }
}






.box {
    padding: 2rem;
    position: relative;
    @include bp($mama-bear) {
        padding: 4rem 2rem;
    }
}

.main {
    margin: .5rem;
    @include bp($baby-bear) {
        margin: 1rem 3rem;
    }
}

.svg {
    width: 100%;
    svg {
        width: 90%;
        height: 90%;
        max-height: 150px;
        @include bp($mama-bear) {
            max-height: 300px;
        }
    }
}

.svg #palm_tree{
    transform-origin: bottom;
    animation: palmTree ease-in;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.svg #light{
    animation: light ease-in;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.svg #squiggle{
    animation: squiggles ease-in;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}



