@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Source+Sans+Pro:300,400|Oswald|Playball);


$heading-font: "Oswald", sans-serif;
$body-font: "Source Sans Pro", sans-serif;
$badge-font: "Alfa Slab One", Impact, serif;
$cursive: "Playball", cursive;


$white: white;
$black: #333;
$light-gray: #efefef;

$red: #ff3333;
$raspberry: #AC005A;
$royal: #3A3151;
$marigold: #FF8728;

//TIY colors
$teal: #00A5B1;
$dark-teal: #038B95;
$orange: #D98123;
$dark-orange: #C07209;
$brick: #c94e43;
$dark-brick: #A73E34;


$color1: $teal;
$color2: $orange;
$color3: $brick;


// Grid variables
$gutter: 1rem; 
$min-width: 100px; 
$baby-bear: 30em;
$kid-bear:  38em;
$mama-bear: 45em;
  


$bg: $black;

@mixin bp($width) {
    @media (min-width: $width) {
        @content;       
    }
}
