@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Source+Sans+Pro:300,700|Oswald|Playball);


$heading-font: "Oswald", sans-serif;
$body-font: "Source Sans Pro", sans-serif;
$badge-font: "Alfa Slab One", Impact, serif;
$cursive: "Playball", cursive;


$white: white;
$black: #333;
$light-gray: #efefef;

$red: #ff3333;
$orange: #F56217;
$yellow: #F5CC17;
$light-green: #A7CC15;
$dark-green: #00875E;
$blue: #04394E;


// Grid variables
$gutter: 1rem; 
$min-width: 100px; 
$baby-bear: 30em;
$mama-bear: 45em;
  


$bg: $black;

$transition: all .2s ease-in-out;




@mixin bp($width) {
    @media (min-width: $width) {
        @content;       
    }
}


